<h1>All Feeds</h1>

<h3><%= link_to "Add Content", new_feed_path %></h3>

<ul>
  <% @feeds.each do |feed| %>
    <li>
      <%= link_to feed.title, feed_path(feed) %><br>
      <%= feed.description %>
    </li>
  <% end %>
</ul>
