<h1><%= @feed.title %></h1>

<ul>
  <% @feed.entries.each do |entry| %>
    <li>
      <%= link_to entry.title, feed_entry_path(entry.feed, entry) %><br>
      <%= "#{entry.author} - #{entry.published_datetime.to_date}" %>
    </li>
  <% end %>
</ul>
