<div class="header">
  <h1>Analytics</h1>
</div>

<div class="analytics_header">
  <ul>
   <li>Entries by Day of Week (All Feeds)</li> 
    <%= column_chart entries_by_dow, label: "Entries" %>

    <li>Entries by Hour of Day, PST (All Feeds)</li> 
    <%= area_chart entries_by_hour_of_day_pst, label: "Entries" %>

    <li>Top Feeds by Avg Entries per Week</li> 
    <%= bar_chart AnalyticsHelper.top_five_feeds_by_entry_ct_wk %>
  </ul>
</div>
