<div class="header">
  <%= button_to "Home", root_path, :method => "get" %>

  <h1>All Entries</h1>
</div>

<ul>
  <% @entries.each do |entry| %>
    <li>
      <%= link_to entry.title, feed_entry_path(entry.feed, entry) %><br>
      <%= link_to  entry.feed.title, feed_path(entry.feed) %> <%= "by #{entry.author} / #{entry.published_datetime.strftime("%-d %b %Y")}" %>
    </li>
  <% end %>
</ul>