<%= button_to "Home", feeds_path, :method => "get" %>

<h1><%= @feed_category.title %></h1>

<ul>
  <% @feed_category.feeds.each do |feed| %>
    <li>
      <%= link_to feed.title, feed_path(feed) %><br>
    </li>
  <% end %>
</ul>
